<h1>Title: <%= posts.title %></h1>
<h2>By: <%= comment.name %></h2>

<p><%= posts.content %></p>

<hr>
<br><br><br>
<h1>Comments</h1>
<% author.forEach(function(ele) { %>
    <p><%= ele.name %>: <%=ele.content %></p>
<% }) %>

<br><br><br><br><br>
<form action="/posts/<%= posts.id%>/comments" method="POST">
    <input type="text" name="content" placeholder='ex: this post sucks!'>
    <input type="text" name="name" placeholder="Ex: fred">
    <input type="submit" value="post comment">
</form>